################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/tds/v16/.suo
/.vs/slnx.sqlite
ProyectoFinal/.vs/ProyectoFinal/FileContentIndex/747edce8-22aa-4845-9380-982967e3a491.vsidx
ProyectoFinal/.vs/ProyectoFinal/FileContentIndex/747edce8-22aa-4845-9380-982967e3a491.vsidx
ProyectoFinal/.vs/ProyectoFinal/FileContentIndex/f2475bde-85f4-420b-abed-966c6eb70fd4.vsidx
ProyectoFinal/.vs/ProyectoFinal/FileContentIndex/747edce8-22aa-4845-9380-982967e3a491.vsidx
ProyectoFinal/.vs/ProyectoFinal/FileContentIndex/747edce8-22aa-4845-9380-982967e3a491.vsidx
